@import url( '//fonts.googleapis.com/css?family=Mystery+Quest' );

#site-title {
	font-family: 'Mystery Quest', cursive;
	font-weight: 400;
	font-style:  normal;
}

#site-title a {
	color: #f684de;
}

#site-description {
	font-family: 'Open Sans', Arial, sans-serif; 
	color: #393d3e;
}